body {
  background-color: #000000;
  color: #ffffff;
}
button {
  background-color: #444444;
  color: #bbbbbb;
  border: 5px solid #ff7300;
  padding: 10px 20px;
  font-size: 16px;
  box-shadow: #444444 100px 100px 5px;
}
